html,
body {
  height: 100%;
  background: #fafafa;
  color: #777; /*b3b3b3;*/
  font-family: 'Oxygen', sans-serif;
}

#wrap {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -10px;
  padding: 0;
  font-size: 13px;
}

#footer {
  height: 40px;
  width: 100%;
  background-color: rgba(255,255,255,.7);
  position: absolute;
  bottom: 0;
}

.navbar {
  min-height: 40px;
}

.navbar-default {
  background-color: #fafafa;
  border: 0;
  box-shadow: 0 7px 7px -5px rgba(0,0,0,0.3);
}

.navbar-brand {
  padding: 5px 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar-brand > img {
  height: 30px;
}

.navbar-nav > li > a {
padding-top: 10px;
padding-bottom: 10px;
}

.leaflet-bar {
  /*box-shadow: 0px 1px 4px rgba(0,0,0,0.3);*/
}

.leaflet-bar a:first-child {
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  float:left;
}
.leaflet-bar a:last-child {
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  float:right;
}

.leaflet-bar a, .leaflet-bar a:hover {
  border-bottom: 0;
  width: 30px;
  height: 30px;
  line-height: 28px;
  background-color: #fafafa;
  color: #777;
  font-family: 'Oxygen', sans-serif;
}

.dropdown-menu {
  border: 0; /*1px solid #b3b3b3;*/
  border-top: 0;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: 100%;
  padding: 0 10px;
}

#wrap > .container {
  padding: 40px 0 0 0;
  height: 100%;
}
.container .credit {
  margin: 10px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}


/* Map
-------------------------------------------------- */

#map {
  width: 100%;
  height: 100%;
  border: 0;
}

/* Tools
-------------------------------------------------- */
#tools {
  left: 20px;
}

#helper {
  right: 20px;
  display: none;
  z-index: 100;
  padding: 10px;
}

.tools {
  position: absolute;
  z-index: 10;
  top: 60px;
  
  background: #fafafa;
  max-height: calc(100% - 140px);
  height: /*31px;*/ auto;
  width: 300px;
  padding: 5px 10px;
  
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 -3px 8px rgba(0,0,0,0.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ie-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tools .divider {
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px rgb(230,230,230) solid;
}

.tools .text, .tools .edits {
  display: none;
}

.tools h3 {
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px
}

.tools-max {
  height: auto; /*calc(100% - 140px);*/
  padding-bottom: 10px;
}

.tools-max .text, .tools-max .edits, .tools-max .divider {
  display: block;
}

#tools .controls i {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
}

#tools .controls > i {
  margin-right: 5px;
}
